# Local notes
homework.md
questions.md
todo.md
tmp/
docs-site/
# Large files
*.zip
*.iso
*.tar
*.tgz

# config files
project-vars.env.cmd
project-vars.env.yaml
multipass-hosts.yaml
hosts

config/var/

# ssh keys
id_ed25519
id_ed25519.pub