[all]
hostname1
hostname2
hostname3
hostname4
hostname5

[exercise]
hostname1
hostname2
hostname3
hostname4
hostname5

[site_a]
hostname1
hostname4

[site_z]
hostname2
hostname3
hostname5

[lab_hosts]
#zabbix-node
#hostname1
#hostname2
#hostname3
#hostname4
#hostname5
#site-a-host
#site-z-host
#test-host1

[lxd_hosts]
#site-a-host ansible_user=ubuntu
#site-z-host ansible_user=ubuntu

[zabbix]
#zabbix-node ansible_user=root ansible_python_interpreter=/usr/local/bin/python3.11
