# Project defaults

---

# Admin user name and email. These are defaults for testing and demonstration purposes, not to represent real life scenario.

admin_user:
  name: admin
  email: admin@example.com

# TODO: These settings are not used yet
site_a_ntp: ntp.europe.com
site_z_ntp: ntp.ubuntu.com

zabbix_server:
  name: zabbix-node
  ip: 172.19.77.100