# Project defaults

---

# Admin user name and email. These are defaults for testing and demonstration purposes, not to represent real life scenario.

admin_user:
  name: admin
  email: admin@example.com

# Also set the same zabbix server IP in 
# ansible/inventory/group_vars/site_a.yaml and 
# ansible/inventory/group_vars/site_z.yaml
zabbix_server:
  name: zabbix-node
  ip: 172.19.77.100