@echo off
REM ------------------------------------------------------------------------------
REM config\project-vars.env.cmd - Default project settings, used in cmd scripts
REM ------------------------------------------------------------------------------

set WORKSPACE_WIN=c:\workplace\project
set HYPERV_HOME=C:\HYPER-V